%div{data: {controller: 'modal-spinner'}}
  .relative.px-6.lg:px-8
    .mx-auto.max-w-2xl.py-32.sm:py-48.lg:py-56
      .text-center
        %h1.text-4xl.font-bold.tracking-tight.text-gray-900.sm:text-4xl Welcome to YouthRaise.com
        %p.mt-6.text-lg.leading-8.text-gray-600 
          The campaign dashboard for #{@campaign_member.name} isn't quite ready. Please ask your leader to send your activation email so you can get started.