%li.mt-2
  %button.rounded-md.border.border-slate-100.px-5.sm:px-20.py-2.w-full.text-sm.font-semibold.text-slate-700.bg-slate-100.hover:bg-slate-50.cursor-pointer{type: "button"}
    = link_to campaign_member.campaign.name, campaign_member_dashboard_path(campaign_member)
