Dear #{@login.user.name},

Here is the code for logging in to YouthRaise.

= @login.confirmation_code

We will never ask you for this code, so if someone does, please tell them to take a hike and then run in the opposite direction.

Regards,

The YouthRaise Team