%p
  Dear #{@login.user.name},
%p
  Here is the code for logging in to YouthRaise.
%p
  = @login.confirmation_code
%p
  We will never ask you for this code, so if someone does, please tell them to take a hike and then run in the opposite direction.
%p
  Regards,
%p
  The YouthRaise Team