.px-10.sm:px-40.pt-12
  .text-md.sm:text-xl.font-semibold.leading-5.text-black
    Edit Supporter
  = render 'form', supporter: @supporter, form_path: campaign_member_supporter_path(@campaign_member.uuid, @supporter)
