%main.grid.min-h-full.place-items-center.bg-white.py-24.px-6.sm:py-32.lg:px-8
  .text-center
    %p.text-base.font-semibold.text-indigo-600 Coming Soon!
    %h1.mt-4.text-3xl.font-bold.tracking-tight.text-gray-900.sm:text-5xl= distance_of_time_in_words_to_now(@campaign.start_on)
    %p.mt-6.text-base.leading-7.text-gray-600 Until this campaign starts
        