%footer.bg-white
  .mx-auto.max-w-7xl.overflow-hidden.py-20.px-6.sm:py-24.lg:px-8
    %p.mt-10.text-center.text-xs.leading-5.text-gray-500
      %a#termly-consent-preferences.pr-4.text-sm.leading-6.text-gray-600.hover:text-gray-900{:href => "#", onclick: "window.displayPreferenceModal();return false;"} 
        Consent Preferences
      %a.text-sm.leading-6.text-gray-600.pr-4.hover:text-gray-900{:href => "https://app.termly.io/document/cookie-policy/a09120a1-2b82-40a9-b4a3-2826b090c935"} Cookie Policy
      %a.text-sm.leading-6.text-gray-600.pr-4.hover:text-gray-900{:href => "https://app.termly.io/document/privacy-policy/881e00bb-a151-4b96-a58a-313bc0788e88"} Privacy Policy
      %a.text-sm.leading-6.text-gray-600.hover:text-gray-900{:href => "https://app.termly.io/document/terms-and-conditions/f2bdaad5-8cef-4c6f-ba23-8c48b230c77f"} Terms & Conditions
    %p.mt-10.text-center.text-xs.leading-5.text-gray-500 © #{Date.today.year} Troopt, Inc. All rights reserved.
    

